[Unit]
Description=Downtime Notification Bot

[Service]
Type=simple
WorkingDirectory=/usr/bin/downtime/
ExecStart=/usr/bin/downtime/downtime.run
ExecStop=/usr/bin/downtime/downtime.stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
