[Unit]
Description=Downtime Notification Bot

[Service]
type=simple
WorkingDirectory=/usr/bin/downtime/
ExecStart=/usr/bin/downtime/downtime.run
Restart=on-failure

[Install]
WantedBy=multi-user.target
